.school-name {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nama {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nama h2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    color: hsl(0, 0%, 73%);
}

.nama h3 {
    font-weight: 500;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
}
