body {
    background: #252525;
}

#head {
    margin-top: 5.5rem;
}

.row {
    margin-top: 35px;
    margin-bottom: auto;
}

h1,
h2,
h3,
h4 {
    color: #787e81;
}

container {
    margin-top: -20px;
}

#text-wall {
    color: #353636;
    transform: translate(-30px, -30px);
    width: 140px;
    height: 140px;
}

#text-hero {
    font-family: "Montserrat", sans-serif;
    transform: translate(30px, 30px);
}

#text-hero h2 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    letter-spacing: 0.3rem;
    width: max-content;
    line-height: 50px;
    color: hsl(0, 0%, 73%);
}

small {
    margin-left: 5px;
    font-size: 16px;
    letter-spacing: 2px;
    color: grey;
    font-family: "Poppins", sans-serif;
}

#as h4 {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    font-weight: 400;
}

.heading {
    color: hsl(0, 0%, 73%);
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

#separator {
    border-width: 2px;
    border-color: grey;
    margin-top: 40px;
    margin-bottom: 30px;
}
