#profile {
    margin-top: 35px;
}

#desc {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #787e81;
    text-overflow: clip;
    width: auto;
}

.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

#my-img-wall {
    color: #727272;
    transform: translate(-20px, 20px);
    width: 200px;
    margin: 25px;
    border-radius: 20px;
}

.my-img {
    background: url(../img/img-0.JPG);
    background-repeat: no-repeat;
    transform: translate(20px, -20px);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-size: cover;
}
