@media screen and (max-width: 435px) {
    #text-hero h2 {
        font-size: 14px;
        font-weight: 400;
        width: 50%;
    }
    .skill-indicator {
        max-width: 350px;
    }
    .skill-box {
        max-width: 340px;
    }
}

@media screen and (max-width: 775px) {
    .container {
        padding: 0 35px;
    }
    .skill-box {
        width: 250px;
    }
    .progress {
        width: 130px;
    }
}

@media screen and (max-width: 990px) {
    #my-img-wall {
        margin-left: 0;
        width: 150px;
        height: 150px;
    }
    .my-img {
        width: 150px;
        height: 150px;
    }
    .skill-box {
        max-width: 330px;
    }
    .progress {
        width: 305px;
    }
    .media-box {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 892px) {
    #my-img-wall {
        margin-left: 0;
        width: 155px;
        height: 155px;
    }
    .container {
        padding: 0 25px;
    }
    .my-img {
        width: 155px;
        height: 155px;
    }
    .skill-box {
        max-width: 345px;
    }
    .progress {
        width: 305px;
    }
}

@media screen and (max-width: 765px) {
    .skill-box {
        width: 255px;
    }
    .progress {
        width: 175px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 0 50px;
    }
    .skill-box {
        width: 100%;
    }
    .progress {
        width: 100%;
    }
    #text-hero h2 {
        font-size: 35px;
    }
}
